html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior: none;
}
#__next {
  height: 100%;
}
canvas {
  position: fixed;
  width: 400px !important;
  height: 400px !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 768px) {
  canvas {
    width: 300px !important;
    height: 300px !important;
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
